@charset "utf-8";
/* CSS Document */

body {
	width: 85%;
	height: 610px;
	position: relative;
    background-image: url(18339330_10209189579484690_941487945_o.png);
	background-repeat: no-repeat;
	background-position:top;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: sticky;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}